#file-information {
    width: 100%;
    max-height: 400px;
    overflow: auto;
    table-layout: fixed;
    margin-bottom: 25px;
}

/* スクロールバーのスタイル変更 */

#file-information::-webkit-scrollbar {
    width: 8px;
}

#file-information::-webkit-scrollbar-track {
    background: #fff;
    border: none;
    border-radius: 10px;
    /*box-shadow: inset 0 0 2px #777;*/
}

#file-information::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    box-shadow: none;
}

/* スクロールバーのスタイル変更 */

table {
    width: 100%;
    border: solid 1px rgb(194, 194, 194);
    border-collapse: collapse;
    border-spacing: 0;
    /* .file-name の省略処理に必要 */
    table-layout: fixed;
    border-radius: 5px;
}

td {
    padding: 5px 10px;
    border-top: solid 1px rgb(194, 194, 194);
}

td.file-name {
    font-size: 14px;
    max-width: 37%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.file-size {
    width: 15%;
    font-size: 12px;
    color: rgb(64, 117, 113);
    text-align: center;
}

td.compressed-size {
    width: 25%;
    font-size: 12px;
    color: rgb(50, 155, 50);
    text-align: center;
}

td.progress-bar-area {
    width: 23%;
    padding: auto 5px;
}

@media screen and (max-width: 600px) {
    td {
        padding: 5px;
    }
    td.file-name {
        font-size: smaller;
    }
}

@media (prefers-color-scheme: dark) {
    table {
        border-color: rgb(60, 60, 60);
    }
    td {
        border-top-color: rgb(60, 60, 60);
    }
    td.file-size {
        color: rgb(168, 208, 205);
    }
    td.compressed-size {
        color: rgb(139, 217, 139);
    }
    /* スクロールバーのスタイル変更 */
    #file-information::-webkit-scrollbar-track {
        background-color: rgb(24, 26, 28);
    }
    #file-information::-webkit-scrollbar-thumb {
        background-color: rgb(39, 41, 43);
    }
    /* スクロールバーのスタイル変更 */
    .bg-info {
        background-color: #1593a6 !important;
    }
    .bg-success {
        background-color: #228d3a !important;
    }
    .bg-danger {
        background-color: #931925 !important;
    }
}