.config-list {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.config-list td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.config-switch {
    width: 60px;
    text-align: right;
}

.config-list>li {
    list-style: none;
    padding-top: 10px;
    height: 35px;
}

#modal-link-btn {
    float: right;
}

.modal-footer>button {
    margin-bottom: 0;
}

.toggle {
    float: right;
}

@media (prefers-color-scheme: dark) {
    .modal-content {
        background-color: rgb(32, 36, 39);
    }
    .modal-header {
        border-color: gray;
    }
    .modal-footer {
        border-color: gray;
    }
    .close>span {
        color: rgb(218, 215, 210);
        text-shadow: none;
    }
    .btn-light {
        color: rgb(218, 215, 210);
        background-color: rgb(24, 26, 28);
        border-color: gray;
    }
    .btn-light:hover {
        color: rgb(218, 215, 210);
        background-color: rgb(35, 40, 44);
    }
    .toggle.btn.btn-light {
        border-color: gray;
    }
}